{% extends 'front_page/master.html' %}

{% block content %}
<div class="container">

<br>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='uploads/img/') }}/{{ recipe.img_path }}" 
          class="img-fluid mb-2" focusable="false" role="img">
      </div>
      <div class="col-md-8">
        <h2 class="card-title">{{ recipe.name }}</h2>
        <small>by <a href="">{{ recipe.writer.first_name }} {{ recipe.writer.last_name }}</a></small>
        <hr>
        <p class="card-text">
          {{ recipe.description }}
        </p>
        <hr>
        <br>
        <h3>Ingredients</h3>
        <hr>
        <ul>
          {% for ingredient in recipe.ingredients %}
          <li>{{ ingredient.component }} - {{ ingredient.measure }}</li>
          {% endfor %}
          <li>sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>consectetur adipiscing elit</li>
          <li>Ut enim ad minim veniam</li>
          <li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
          <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
          <li>Excepteur sint occaecat cupidatat non proident</li>
        </ul>
        <hr>
        <div class="row">
          <div class="col">
            <button class="btn btn-outline-primary pull-right" data-toggle="modal"
              data-target="#reviewModals">
              <i class="fa fa-pencil-square-o"></i> Write a review
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" 
  aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="{{ url_for('recipes.reviews.save') }}" method="POST">
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
        <div class="modal-header">
          <h5 class="modal-title" id="reviewModalLabel">Write your review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="content">Rating</label>
            <div class="star-rating text-primary">
              <span class="fa fa-star-o" data-rating="1"></span>
              <span class="fa fa-star-o" data-rating="2"></span>
              <span class="fa fa-star-o" data-rating="3"></span>
              <span class="fa fa-star-o" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <input type="hidden" name="rating" id="rating" class="rating-value" value="4">
            </div>
          </div>
          <div class="form-group">
            <label for="content">Review</label>
            <textarea name="content" id="content" class="form-control"
              rows="5" placeholder="What are your thoughts on the recipe?"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Post Review" class="btn btn-primary pull-right">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  var $star_rating = $('.star-rating .fa');

  var SetRatingStar = function() {
    return $star_rating.each(function() {
      if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
        return $(this).removeClass('fa-star-o').addClass('fa-star');
      } else {
        return $(this).removeClass('fa-star').addClass('fa-star-o');
      }
    });
  };

  $star_rating.on('click', function() {
    $star_rating.siblings('input.rating-value').val($(this).data('rating'));
    return SetRatingStar();
  });

  SetRatingStar();

  $(document).ready(function() {

  });
</script>
{% endblock scripts %}